.contents .image img, .contents img.inline {
	width: 80%;
	max-width: 950px;
	display: block !important;
	margin: 0 auto;
}

.contents img.inline + em{
	width: 80%;
	max-width: 950px;
	display: block;
	margin: 0 auto;
}

